<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
        <form action="/chats" method="POST">
            <input type="text" placeholder="Enter your name" name="form"><br>
            <textarea name="msg">Enter Your Mesg here</textarea><br>
            <input type="text"  placeholder="Add receiver" name="to">
            <button>Create Chat</button>
           
        </form>
</body>
</html>