<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>New Post Add</h1>
    <form action="">
        <input type="text" placeholder="Enter Your Name" name="name"><br><br>
        <div class="div">
            <label for="image">Select Image:</label> &nbsp;
            <input type="file" name="image" id="image" accept="image/*">
            <button type="submit">Upload</button><br>
        </div><br>
        <textarea placeholder="Enter Caption here" name="content"></textarea>

    </form>
</body>
</html>