<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A new Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter your Name" name="username"><br><br>
        <textarea placeholder="Enter Your content Here" name="content"></textarea><br>
        <button>Summit</button>
    </form>
</body>
</html>