<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Singal Post</title>
</head>
<body>
    <h2>Here is your post</h2>
    <p>Post id: <%= post.id%></p>
    <div class="post">
        <h3 class="post">@<%= post.username %></h3>
        <h4 class="content"> <%= post.content %></h3>
    </div>
</body>
</html>