<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMe Pages</title>
</head>
<body>
    <h3>Total Number of the User :  -  <%= count %></h3>
    <button>GET Connect Us!</button>
</body>
</html>