<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER Layout</title>
    <style>
        table,tr,td{
            border: 1px solid red;
        }




    </style>
</head>

<body>
    <table>
        
            <tr>
                <th>id</th>
                <th>username</th>
                <th>email</th>
            </tr>
            <% for(us of user){ %>
                <tr>
                    <td><%= us.id %></th>
                    <td><%= us.username %></th>
                    <td><%= us.email %></th>
                    <td>
                        <form action="/user/<%=us.id%>/edit">
                            <button>Edit</button>
                        </form>
                    </td>


                    </tr>
                        
                
                
            <% } %>
    
        
    </table>
</body>
</html>

